@font-face {
    font-family : AppleSDGothicNeoEB00;
    src: url('./assets/fonts/AppleSDGothicNeoB.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }
 
 
  @font-face {
    font-family : AppleSDGothicNeoM00;
    src: url('./assets/fonts/AppleSDGothicNeoM.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  } 

  @font-face { 
    font-family : AppleSDGothicNeoH00;
    src: url('./assets/fonts/AppleSDGothicNeoH.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }